

html {
    /*border: 1px solid red;*/
    --BUBBLE-BACKGROUND-COLOR: #f1f5f8;
    --BUBBLE-OPACITY: 1;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thought {
    display:flex;
    background-color: var(--BUBBLE-BACKGROUND-COLOR);
    padding: 10px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin:20px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    opacity: var(--BUBBLE-OPACITY);
    box-sizing: border-box;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2);
}

.thought:before,
.thought:after {
    content:"";
    background-color: var(--BUBBLE-BACKGROUND-COLOR);
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
    box-sizing: border-box;
}
.thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px var(--BUBBLE-BACKGROUND-COLOR);
    box-sizing: border-box;
}
.thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 var(--BUBBLE-BACKGROUND-COLOR),
    -28px -6px 0 -2px var(--BUBBLE-BACKGROUND-COLOR),
    -24px 17px 0 -6px var(--BUBBLE-BACKGROUND-COLOR),
    -5px 25px 0 -10px var(--BUBBLE-BACKGROUND-COLOR);
    box-sizing: border-box;
}
